<div class="rectangle-div"></div>

<div class="header">
    <a routerLink="/home"><h1>esteban</h1></a>
</div>

<div class="navigation">
    <a routerLink="/about" class="active">About</a>
    <a routerLink="/experience" class="active">Experience</a>
    <a routerLink="/studies" class="active">Studies</a>
</div>

<div class="container">
    <div class="text-block">
        <h2>Studies of Esteban Jara</h2>
        <p></p>
    </div>
</div>

<!-- Sección Recents -->
<div class="section">
    <div class="title-section">
        <h3>Recents</h3>
    </div>
    <p>María Auxiliadora Private School (2015-2020)</p>
    <p>Software Engineering <br><a href="https://www.una.py" target="_blank">Universidad Nacional de Asunción</a> (2021-Present)</p>
</div>

<!-- Sección Certifications -->
<div class="section">
    <div class="title-section">
        <h3>Certifications</h3>
    </div>
    <p>The Complete 2024 Web Development Bootcamp (2024)</p>
    <p>Google UX Design</p>
</div>

<!-- Sección Skills -->
<div class="section">
    <div class="title-section">
        <h3>Skills</h3>
    </div>
    <p>Python Django / Flask JavaScript Node.js / Express.js</p>
    <p>API REST Design SQL (PostgreSQL / MySQL) (JWT / OAuth) Responsive Web Design</p>
</div>

<div class="footer">
    <div class="footer-content">
        <div class="footer-icons">
            <a href="https://www.instagram.com/manu.noceda/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/estebanjaran/"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
            <a href="https://github.com/stiv89"><i class="fab fa-github"></i></a>
        </div>
        <div class="footer-copyright">
            <p>©2024 Esteban Jara. All Rights Reserved.</p>
        </div>
    </div>
</div>
