<div class="rectangle-div"></div>

<div class="header">
    <h1>esteban</h1>
</div>

<div class="navigation">
    <a routerLink="/about">About</a>
    <a routerLink="/experience">Experience</a>
    <a routerLink="/studies">Studies</a>
</div>

<div class="container">
    <div class="text-block">
        <h2>esteban jara</h2>
        <p>digital</p>
        <div class="experiences">
            <span class="e">e</span>
            <span class="x">x</span>
            <span class="p">p</span>
            <span class="e1">e</span>
            <span class="r">r</span>
            <span class="i">i</span>
            <span class="e2">e</span>
            <span class="n">n</span>
            <span class="c">c</span>
            <span class="e2">e</span>
            <span class="s">s</span>
        </div>

        <div class="social-icons">
            <a href="https://www.instagram.com/manu.noceda/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/estebanjaran/"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
            <a href="https://github.com/stiv89"><i class="fab fa-github"></i></a>
        </div>
    </div>

    <div class="image-container">
        <img src="assets/images/esteban.png" alt="Esteban en la naturaleza">
    </div>
</div>

<!-- Bloque Brands -->
<div class="brands">
    <div class="title-section">
        <h2>Brands</h2>
    </div>

    <div class="dots-cartel-container">
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div class="cartel">
            <img src="assets/images/cartel.png" alt="Cartel" class="cartel-img">
        </div>
    </div>
</div>

<!-- Sección Recents -->
<div class="recents">
    <div class="title-section">
        <h2>Recents</h2>
    </div>
</div>

<!-- Trabajos con video -->
<div class="trabajos">
    <div class="trabajo">
        <video src="assets/videos/trabajo1.mp4" muted preload="auto"></video>
        <button>take a look</button>
    </div>

    <div class="trabajo">
        <video src="assets/videos/trabajo2.mp4" muted preload="auto"></video>
        <button>take a look</button>
    </div>
</div>

<div class="check-for-more">
    <button>check more</button>
    <img src="assets/images/circle-doodle.png" alt="Circle doodle" class="circle-doodle">
</div>

<!-- Sección de Connect -->
<form id="emailForm">
    <div class="connect">
        <p>Let's connect</p>
        <input type="email" name="email" id="emailInput" placeholder="Enter your email" required>
        <button type="submit">Send</button>
        <div id="emailSentMessage" style="display:none; color: lightgreen; margin-top: 10px;">¡Email enviado!</div>
        <div id="emailErrorMessage" style="display:none; color: red; margin-top: 10px;">Error al enviar el correo.</div>
    </div>
</form>

<div class="footer">
    <div class="footer-content">
        <div class="footer-icons">
            <a href="https://www.instagram.com/manu.noceda/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/estebanjaran/"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
            <a href="https://github.com/stiv89"><i class="fab fa-github"></i></a>
        </div>
        <div class="footer-copyright">
            <p>©2024 Esteban Jara. All Rights Reserved.</p>
        </div>
    </div>
</div>
